{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load i18n %}

{% block content %}
{% load static %}
 
<div class="container-fluid"><br><br><br><br>
<div align="center"><img src='{% static "img/snap/1for.jpg" %}'class='img-responsive'>
	</div>
<div class='col-sm-6 col-sm-offset-3'><br><br>
<p class='lead' style="color:#777777">Reset your password</p>
<form method="post" action="."  style="color:#777777">
  {% csrf_token %} 
    {{ form|crispy }}

  <input type="image" src='{% static "img/submit.png" %}' type="submit" value="{% trans 'Reset' %}" />
</form><br><br></div></div>
</div>
{% endblock %}


