{% extends "base.html" %}

{% load i18n %}
{% block content %}
{% load static %}
<br>
<body>
<div class="container-fluid"  style="height:540px"><br><br>
<div><center><img src='{% static "img/snap/0Privacy.png" %}' class="img-responsive"/>
    </center></div><br>
		
    <h3 style="color:#777777"><center>{% trans "Password reset successfully" %}</center></h3><br>
<p><center><a href="{% url 'auth_login' %}"><input type="image" src='{% static "img/button_003.png" %}' type="submit" value="{% trans 'Submit' %}" /></a></center></p>
</div></div><br><br>
{% endblock %}
