{% extends "base.html" %}
{% load i18n %}
{% load crispy_forms_tags %}
{% block content %}
{% load static %}
<div class="container-fluid" style="height:auto"><br><br>
<div><center><img src='{% static "img/snap/0Privacy.png" %}' class='img-responsive'/>
    </center></div>
		
{% if validlink %}
<div class='col-sm-6 col-sm-offset-3'><br>
<p class='lead' style="color:#777777">Enter new password</p>
<form method="post" action="."  style="color:#777777">
  {% csrf_token %} 
    {{ form|crispy }}

    <center><input type="image" src='{% static "img/reg.png" %}' type="submit" value="{% trans 'Submit' %}" /></center>
</form><br>
</div>
{% else %}
<div class='col-sm-6 col-sm-offset-3'><br>
<h3 class='lead' style="color:#777777">Unauthenticate user activation</h3>
<form method="post" action="."  style="color:#777777">
<p>{% trans "Password reset failed" %}</p>
</div><br><br><br><br><br><br><br><br><br><br><br><br><br>
{% endif %}
</div>
{% endblock %}
