{% extends "base.html" %}
{% load i18n %}
{% load crispy_forms_tags %}
{% block content %}
{% load static %}

<div class="container-fluid" style="width: auto;  color:GhostWhite; background :url({% static "img/intro-bg.jpg" %}) no-repeat center top"> 
<br><br><br><br><br><br>
	<div class="row">
<div class="col-md-4">
  </div>
<div class="col-md-5" style="padding:1px;border:1px groove LightSteelBlue; background-color:#A4A4A4">
{% if request.user.is_authenticated %}
<p>YOUR ARE ALREADY LOGIN<P>
<p> FOR FRESHES REGISTRTION LOGOUT FIRST<p><a href="{% url 'auth_logout' %}" type="button" class="btn btn-info btn-lg">Logout</a></button>
{% else %}
<center><b><h1>Sign-Up</h1><b></center>
<div class="row">
      <div class="col-sm-2"></div>
      <div class="col-sm-9">

<form method="post" action=".">

  {% csrf_token %}
  {{ form|crispy }}

 <center>   <input type="image" src='{% static "img/submit.png" %}' type="submit" value="{% trans 'Join' %}" /></center>
  <input type="hidden" name="next" value="{{ next }}" />

</form></div></div>
<center><h4><b>Already Member ?<a href="{% url 'auth_login' %}" style="color:#428BCA"> Login here!</a></b></h4></center>
<hr/>
 <form>
<div>
<center>Or Social Registration With Us.</center>
<div class="col-sm-2"></div>
<div class="col-sm-3">
 <a href="http://www.twitter.com"><img src='{% static "img/t.png" %}'/></a></div>
<div class="col-sm-3">
 <a href="#"><img src='{% static "img/f.png" %}' id="loginBtn" onclick="logIn();" value="Login" /></a></div>
<div class="col-sm-3">
 <a href="http://www.gmail.com"><img src='{% static "img/g.png" %}' /></a></div>
  </form></div> <br><br><br> <br> 
</div>
 {% endif %}
</div>
<br><br><br><br><br><br>
</div>

</div>


{% endblock %}
