<!---------------------------------home----------------------------------->
body {
font-family: inherit, Myriad, "Liberation Sans", "Nimbus Sans L", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

#myBODY1 {
   background: Lavender ;
   font-family: inherit, Myriad, "Liberation Sans", "Nimbus Sans L", "Helvetica Neue", Helvetica, Arial, sans-serif;
    background-size:100%;
    weight:120px;

}
a {
      text-decoration:none;
   }

    .mtb
    {
        padding-left:22%;}

 .navbar-collapse
 {
        padding-top: 1%;
        padding-left: auto;}

#div1{
padding-top:10px;

}

.img-circle{
 height:100px;
width:100px;
}
#p1{
float: right; 
padding-bottom:100px; 

}
#text1{
color:#F99330;


}

#text2{
color:Black;


}



<!---------------------------about----------------------------------------->


<!--------------------------------gallery----------------------------------->
#main{

 width:100%;
}

#myCarousel{
height:200px;
 width:910px;
 padding-left:10px;
}
#carousel1{
width: 900px; padding-right:10px;
}
#myCarousel1{
height:200px;
 width:910px;
 padding-left:10px;
}
#myCarousel2{
height:200px;
 width:910px;
 padding-left:10px;
}
#cor1{
float:right;
 padding-right:-70px;
 width:9px;
 height:0px;
 margin-top:77px; 
}

#cor2{
float:right;
 margin-right: -7px;
 width:2px; height:0px;
 margin-top:77px;

} 
.img{
height: 153px;
 width:153px;
}
<!----------------------------------------------dash-------------------------------->
#circle{
width:160px;
 height:150px;
}

<!--------------------------------------------faq---------------------------------->



