{% extends "base.html" %}
{% load staticfiles %}
{% block content %}

<br><br>
    <body><br>
<section>
        <div class="container-fluid">
            <div class="row">
                <h1 class="title text-center wow fadeInDown" data-wow-duration="500ms">" One lives in the hope of becoming a memory "</h1>
                
                <div id="team-carousel" class="carousel slide wow fadeIn" data-ride="carousel" data-wow-duration="400ms" data-wow-delay="400ms">
       <center><u><h3>Children / Our Future</h3></u></center>
                    <ol class="carousel-indicators visible-xs">
                        <li data-target="#team-carousel" data-slide-to="0" class="active"></li>
                        <li data-target="#team-carousel" data-slide-to="1"></li>
                    </ol>
                    <!-- Wrapper for slides -->
                    <div class="carousel-inner">
                        <div class="item active">
                            <div class="col-sm-3 col-xs-6">
                                <div class="team-single-wrapper">
                                    <div class="team-single">
                                        <div class="person-thumb">
                                            <img src="{% static 'img/ec2.jpeg' %}" style="height: 300px; width:495px" class="img-responsive" alt="">
                                        </div>
                                        
                                    </div>
                                    
                                </div>
                            </div>
                            <div class="col-sm-3 col-xs-6">
                                <div class="team-single-wrapper">
                                    <div class="team-single">
                                        <div class="person-thumb">
                                            <img src="{% static 'img/happy2.jpeg' %}" style="height: 300px; width:495px" class="img-responsive" alt="">
                                        </div>
                                       
                                    </div>
                                                                   </div>
                            </div>
                            <div class="col-sm-3 col-xs-6">
                                <div class="team-single-wrapper">
                                    <div class="team-single">
                                        <div class="person-thumb">
                                            <img src="{% static 'img/ec3.jpeg' %}"style="height: 300px; width:495px" class="img-responsive" alt="">
                                        </div>
                                        
                                    </div>
                                    
                                </div>
                            </div>
                            <div class="col-sm-3 col-xs-6">
                                <div class="team-single-wrapper">
                                    <div class="team-single">
                                        <div class="person-thumb">
                                            <img src="{% static 'img/ec4.jpeg' %}"style="height: 300px; width:495px" class="img-responsive" alt="">
                                        </div>
                                   </div>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="col-sm-3 col-xs-6">
                                <div class="team-single-wrapper">
                                    <div class="team-single">
                                        <div class="person-thumb">
                                            <img src="{% static 'img/edu1.jpeg' %}" style="height: 300px; width:495px" class="img-responsive" alt="">
                                        </div>
                                      
                                    </div>
                                                                   </div>
                            </div>
                            <div class="col-sm-3 col-xs-6">
                                <div class="team-single-wrapper">
                                    <div class="team-single">
                                        <div class="person-thumb">
                                            <img src="{% static 'img/happy3.jpeg' %}" style="height: 300px; width:495px" class="img-responsive" alt="">
                                        </div>
                                       
                                    </div>
                                   
                                </div>
                            </div>
                            <div class="col-sm-3 col-xs-6">
                                <div class="team-single-wrapper">
                                    <div class="team-single">
                                        <div class="person-thumb">
                                            <img src="{% static 'img/happy5.jpeg' %}"  style="height: 300px; width:495px"class="img-responsive" alt="">
                                        </div>
                                        
                                    </div>
                                    
                                </div>
                            </div>
                            <div class="col-sm-3 col-xs-6">
                                <div class="team-single-wrapper">
                                    <div class="team-single">
                                        <div class="person-thumb">
                                            <img src="{% static 'img/b32.jpg' %}" style="height: 300px; width:495px" class="img-responsive" alt="">
                                        </div>
                                        
                                    </div>
                                   
                                </div>
                            </div>
                       

                    <!-- Controls -->
                    <a class="left team-carousel-control hidden-xs" href="#team-carousel" data-slide="prev">left</a>
                    <a class="right team-carousel-control hidden-xs" href="#team-carousel" data-slide="next">right</a>
                </div>
            </div>
        </div>
    </section>
<section>
        <div class="container-fluid">
            <div class="row">
             
                
                <div id="team-carousel" class="carousel slide wow fadeIn" data-ride="carousel" data-wow-duration="400ms" data-wow-delay="400ms">
                       <center><u><h3>Womens / Our Power</h3></u></center>     <!-- Indicators -->
                    <ol class="carousel-indicators visible-xs">
                        <li data-target="#team-carousel" data-slide-to="0" class="active"></li>
                        <li data-target="#team-carousel" data-slide-to="1"></li>
                    </ol>
                    <!-- Wrapper for slides -->
                    <div class="carousel-inner">
                        <div class="item active">
                            <div class="col-sm-3 col-xs-6">
                                <div class="team-single-wrapper">
                                    <div class="team-single">
                                        <div class="person-thumb">
                                            <img src="{% static 'img/we9.jpeg' %}" style="height: 300px; width:495px" class="img-responsive" alt="">
                                        </div>
                                        
                                    </div>
                                    
                                </div>
                            </div>
                            <div class="col-sm-3 col-xs-6">
                                <div class="team-single-wrapper">
                                    <div class="team-single">
                                        <div class="person-thumb">
                                            <img src="{% static 'img/we2.jpeg' %}" style="height: 300px; width:495px" class="img-responsive" alt="">
                                        </div>
                                       
                                    </div>
                                                                   </div>
                            </div>
                            <div class="col-sm-3 col-xs-6">
                                <div class="team-single-wrapper">
                                    <div class="team-single">
                                        <div class="person-thumb">
                                            <img src="{% static 'img/we3.jpeg' %}" style="height: 300px; width:495px" class="img-responsive" alt="">
                                        </div>
                                        
                                    </div>
                                    
                                </div>
                            </div>
                            <div class="col-sm-3 col-xs-6">
                                <div class="team-single-wrapper">
                                    <div class="team-single">
                                        <div class="person-thumb">
                                            <img src="{% static 'img/we4.jpeg' %}" style="height: 300px; width:495px" class="img-responsive" alt="">
                                        </div>
                                   </div>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="col-sm-3 col-xs-6">
                                <div class="team-single-wrapper">
                                    <div class="team-single">
                                        <div class="person-thumb">
                                            <img src="{% static 'img/we5.jpeg' %}" style="height: 300px; width:495px" class="img-responsive" alt="">
                                        </div>
                                        
                                    </div>
                                                                   </div>
                            </div>
                            <div class="col-sm-3 col-xs-6">
                                <div class="team-single-wrapper">
                                    <div class="team-single">
                                        <div class="person-thumb">
                                            <img src="{% static 'img/we6.jpeg' %}" style="height: 300px; width:495px" class="img-responsive" alt="">
                                        </div>
                                       
                                    </div>
                                   
                                </div>
                            </div>
                            <div class="col-sm-3 col-xs-6">
                                <div class="team-single-wrapper">
                                    <div class="team-single">
                                        <div class="person-thumb">
                                            <img src="{% static 'img/we7.jpeg' %}" style="height: 300px; width:495px" class="img-responsive" alt="">
                                        </div>
                                        
                                    </div>
                                    
                                </div>
                            </div>
                            <div class="col-sm-3 col-xs-6">
                                <div class="team-single-wrapper">
                                    <div class="team-single">
                                        <div class="person-thumb">
                                            <img src="{% static 'img/we9.jpeg' %}" style="height: 300px; width:495px" class="img-responsive" alt="">
                                        </div>
                                        
                                    </div>
                                   
                                </div>
                            </div>
                       

                    <!-- Controls -->
                    <a class="left team-carousel-control hidden-xs" href="#team-carousel" data-slide="prev">left</a>
                    <a class="right team-carousel-control hidden-xs" href="#team-carousel" data-slide="next">right</a>
                </div>
            </div>
        </div>
    </section>
<section >
        <div class="container-fluid">
            <div class="row">
              
                
                <div id="team-carousel" class="carousel slide wow fadeIn" data-ride="carousel" data-wow-duration="400ms" data-wow-delay="400ms">
                         <center><u><h3>Citizens / Our Experience</h3></u></center>
                    <ol class="carousel-indicators visible-xs">
                        <li data-target="#team-carousel" data-slide-to="0" class="active"></li>
                        <li data-target="#team-carousel" data-slide-to="1"></li>
                    </ol>
                    <!-- Wrapper for slides -->
                    <div class="carousel-inner">
                        <div class="item active">
                            <div class="col-sm-3 col-xs-6">
                                <div class="team-single-wrapper">
                                    <div class="team-single">
                                        <div class="person-thumb">
                                            <img src="{% static 'img/old1.jpeg' %}" style="height: 300px; width:495px" class="img-responsive" alt="">
                                        </div>
                                        
                                    </div>
                                    
                                </div>
                            </div>
                            <div class="col-sm-3 col-xs-6">
                                <div class="team-single-wrapper">
                                    <div class="team-single">
                                        <div class="person-thumb">
                                            <img src="{% static 'img/old2.jpeg' %}" style="height: 300px; width:495px" class="img-responsive" alt="">
                                        </div>
                                       
                                    </div>
                                                                   </div>
                            </div>
                            <div class="col-sm-3 col-xs-6">
                                <div class="team-single-wrapper">
                                    <div class="team-single">
                                        <div class="person-thumb">
                                            <img src="{% static 'img/old3.jpeg' %}" style="height: 300px; width:495px" class="img-responsive" alt="">
                                        </div>
                                        
                                    </div>
                                    
                                </div>
                            </div>
                            <div class="col-sm-3 col-xs-6">
                                <div class="team-single-wrapper">
                                    <div class="team-single">
                                        <div class="person-thumb">
                                            <img src="{% static 'img/old4.jpeg' %}" style="height: 300px; width:495px" class="img-responsive" alt="">
                                        </div>
                                   </div>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="col-sm-3 col-xs-6">
                                <div class="team-single-wrapper">
                                    <div class="team-single">
                                        <div class="person-thumb">
                                            <img src="{% static 'img/old5.jpeg' %}" style="height: 300px; width:495px" class="img-responsive" alt="">
                                        </div>
                                                                            </div>
                                                                   </div>
                            </div>
                            <div class="col-sm-3 col-xs-6">
                                <div class="team-single-wrapper">
                                    <div class="team-single">
                                        <div class="person-thumb">
                                            <img src="{% static 'img/old6.jpeg' %}"style="height: 300px; width:495px" class="img-responsive" alt="">
                                        </div>
                                       
                                    </div>
                                   
                                </div>
                            </div>
                            <div class="col-sm-3 col-xs-6">
                                <div class="team-single-wrapper">
                                    <div class="team-single">
                                        <div class="person-thumb">
                                            <img src="{% static 'img/old7.jpeg' %}" style="height: 300px; width:495px"class="img-responsive" alt="">
                                        </div>
                                        
                                    </div>
                                    
                                </div>
                            </div>
                            <div class="col-sm-3 col-xs-6">
                                <div class="team-single-wrapper">
                                    <div class="team-single">
                                        <div class="person-thumb">
                                            <img src="{% static 'img/old8.jpeg' %}" style="height: 300px; width:495px"class="img-responsive" alt="">
                                        </div>
                                        
                                    </div>
                                   
                                </div>
                            </div>
                       

                    <!-- Controls -->
                    <a class="left team-carousel-control hidden-xs" href="#team-carousel" data-slide="prev">left</a>
                    <a class="right team-carousel-control hidden-xs" href="#team-carousel" data-slide="next">right</a>
                </div>
            </div>
        </div>
    </section><br><br><br>
            
</body>
</html>
{% endblock %}




