{% extends "base.html"%}       
{% load i18n %} 
{% block content %}

{% load staticfiles %}


<head>
    <script src="{% static 'js/jquery.elevatezoom.js' %}"></script>
</head>
<div class="container-fluid" style="color:grey; background-color: GhostWhite "><br>
<br>
<div class="container">
<div class="row">
    <div class='col-md-4'>   
 
	 {% if object %}
                       		<div class="col-xs-12">
                        
                              
                               <img id="vin" src="{{ object.docfile.url }}"   style="width:330px; height:180px; border:1px; class="img-circle"  alt="{{ object.docfile.name }}"/>		<hr/>
                               
		</div>

<div class="col-xs-6">
	    <a href="#" class="thumbnail">
 <img id="vin" src="{{ object.docfile.url }}"   style="width:330px; height:180px; border:1px; class="img-circle"  alt="{{ object.docfile.name }}"/>	
	    </a>
	  	</div>
                        
                        
               

                {% endif %}

        </div>    
	
    <!-- Product Sidebar --> 
   
       <div class='col-sm-8'>
		<div class='col-sm-8 pull-left'>
			 <h1><b>{{ object.title|upper }} </b>
			 </h1>
		 </div>

		<div class='col-sm-4 pull-right'>

			 	 <h4 class='btn btn-default btn-block'>ITEM REMAINS</h4>
			 	<h6  class="form-control"><center>{{ object.quantity }}</center></h6>

	 	</div>
	 	<div class='col-sm-12'>
			 <hr/><h3 style="color:grey;"><lable>Post On:{{ object.date_created|date:"d M Y" }}</lable></h3>
       
        <h3 style="color:grey;"><lable>Expire On:{{object.expire_date|date:"d M Y"}}</lable></h3>
			
	 	</div>
			<a href="/products/enquiry/{{ object.user}}/"style="color:#428BCA"> <div class='col-sm-6'><h3 style="color:grey;">Donated By: {{ object.user}}<br/>
<h6>*use this name for message or request.</h6><hr/></div></a>
	 <div class='col-sm-6 pull-center'>
			 	<br> <a href="/products/enquiry/{{ object.user}}/"style="color:#428BCA"><input type="submit" class="btn btn-info btn-lg"  value="{% trans "Excahnge/Donate" %}&raquo;"/></a>
	 	</div></div>
 <div class='col-sm-8 pull-left'>
			 	 
<h3 style="color:grey;"><lable>{{ object.description}}</lable></h3>

   	 	</div>
 </div>

    </div>   

<center><a href="{% url 'products' %}">
                    <i class="fa fa-external-link">
  <b><h4>BACK TO PRODUCT LIST</h4><b></i></a></center> </div>
<div class="container-fluid" style="height:100px; width: auto; color:grey; background-color: PaleTurquoise"><br> 
<h4>Related Project.......</h4><center></center>
        
    </div>


<script>	
     $("#vin").elevateZoom({scrollZoom : true});
    </script>
{% endblock %}
